# Data Science Tools and Ecosystems

#### In this notebook, Data Science Tools and Ecosystems are summarized

**OBJECTIVES :**

- List of popular languages of Data Science
- List of popular Data Science tools
- List of popular Data Science Libraries

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. ggplot (R)
2. Pandas (Python)
3. NumPy (Python)

| Data Science Tools |
|--------------------|
| Apache Spark |
| ModelDB |
| PixieDust |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## AUTHOR

SREERAM B KAMATH